trigger:
  branches:
    include:
      - master


stages:
  - stage: Build
    jobs:
      - job: Build
        displayName: "Build Job"
        pool:
          vmImage: windows-latest
        steps:
          - task: UseDotNet@2
            inputs:
              packageType: 'sdk'
              version: '8.x'
              installationPath: $(Agent.ToolsDirectory)/dotnet
              
          - script: |
                dotnet build --configuration Release
            displayName: 'Build Solution'

          - script: |
                dotnet publish -c Release -o $(Build.ArtifactStagingDirectory)
            displayName: "Publish Artifacts"

          - task: PublishBuildArtifacts@1
            inputs:
              PathtoPublish: $(Build.ArtifactStagingDirectory)
              ArtifactName: drop
              publishLocation: 'Container'

  - stage: Deploy
    jobs:
      - deployment: DeployWebApp
        displayName: "Deploy to azure app service"
        environment: 'production'
        strategy:
          runOnce:
            deploy:
              steps:
                - download: current
                  artifact: drop

                - task: AzureWebApp@1
                  inputs:
                    azureSubscription: 'cicdweather'
                    appType: 'webApp'
                    appName: 'haniweather'
                    package: $(Pipeline.Workspace)/drop